.custom-navbar {
    background-color: rgb(81, 65, 253);
    font
}

.custom-navbar .navbar-nav .nav-link {
    color: white; /* Color del texto */
}

.custom-navbar .navbar-brand {
    color: white; /* Color del logo o nombre del sitio */
}

.custom-navbar .navbar-nav .nav-link:hover {
    color: yellow; /* Cambia el color al pasar el cursor */
}

.body {
    background-color: rgb(91, 244, 60);
}